:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  text-align: center;
}

body {
  background: linear-gradient(#f1d848, #fff);
}

.logo-evil-trivia {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-image: url("images/lemon.svg");
}

.logo-instagram {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-image: url("images/instagram-logo.svg");
  margin-top: 20px;
}

header {
  padding: 30px;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

section.main {
  padding: 20px;
  height: calc(100vh - 110px);
}

.main h1,
.main p {
  transform: translateY(-55px);
}

.main h1 {
  font-size: 42px;
  margin-bottom: 25px;
}

.main p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  width: 444px;
}

section {
  height: 35vh;
  padding: 20px;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

section p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: 444px;
  margin: 0 auto;
}

section.social {
  height: 70vh;
}

footer {
  padding: 20px;
  height: 110px;
}
